<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="packages/core_elements/core_scaffold.html">
<link rel="import" href="packages/core_elements/core_header_panel.html">
<link rel="import" href="packages/core_elements/core_drawer_panel.html">
<link rel="import" href="packages/core_elements/core_toolbar.html">
<link rel="import" href="packages/core_elements/core_menu.html">
<link rel="import" href="packages/core_elements/core_item.html">
<link rel="import" href="packages/paper_elements/paper_tabs.html">
<link rel="import" href="packages/paper_elements/paper_item.html">

<polymer-element name="noun-view">
  <template>
    <link rel="stylesheet" href="../../../resources/css/app.css">

    <style>
      form {
        background-color: white;
        padding: 2px 5px 2px 10px;
        border-bottom: 2px solid #151515;
      }

    </style>
    
  
            <!--div id="noun_view" class="noun-box">              
              <button>{{nounBind}}</button-->
              <!--div horizontal justified layout-->
                <paper-tabs selected="0" class="transparent-teal">
  
                  <paper-tab name="Declensions"><a on-select="{{changeContent}}" data-content="DECLENSIONS"></a>Declensions</paper-tab>
                  <paper-tab name="Examples"><a on-select="{{changeContent}}" data-content="D_EXAMPLES"></a>Examples</paper-tab>
                  
                </paper-tabs>
                                  
                <div horizontal justified layout>
                  {{whatamIdoing}} what the shit.
                </div>
   
  </template>

  <script type="application/dart" src="noun_view.dart"></script>
</polymer-element>