<!-- Polymer Element HTML import links go here (above <polymer-element> tag) -->
<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="packages/core_elements/core_scaffold.html">
<link rel="import" href="packages/core_elements/core_header_panel.html">
<link rel="import" href="packages/core_elements/core_drawer_panel.html">
<link rel="import" href="packages/core_elements/core_toolbar.html">
<link rel="import" href="packages/core_elements/core_menu.html">
<link rel="import" href="packages/core_elements/core_item.html">
<link rel="import" href="packages/core_elements/core_pages.html">
<link rel="import" href="packages/core_elements/core_selector.html">
<link rel="import" href="packages/paper_elements/paper_tabs.html">
<link rel="import" href="packages/paper_elements/paper_tab.html">
<link rel="import" href="packages/paper_elements/paper_item.html">
<link rel="import" href="packages/paper_elements/paper_button.html">

<polymer-element name="app-view">
  <template>
    <!--link rel="stylesheet" href="../../../resources/css/app.css"-->

    <style>
      #cont {
        padding: 10px;
        background-color: 3b8183;
      }
      
      .intro-box {
        color: 424b4b;
        background-color: bdced7;
      }
      
      .shits {
        color: black;
        background-color: black;
        text-color: black;
      }

      .box-container {
        width: 475px;
        border: 1px solid #ccc;
        padding: 10px;
        background-color: white;
      }
      
      #main-container {
        background: 2a56c6;
        color: white;
      }
      
      #my-button {
        background: #00bcd4;
        color: #fff;
      }
      
      #my-button:hover {
        background: #2a56c6;
      }
      
      #my-button::shadow #ripple {
        color: #2a56c6;
      }
      
      table, th, td {
        border: 1px solid black;
        padding: 2px;
      }
      
    </style>
    
    <!--
      Scaffold
      The scaffold contains a <core-drawer-panel>, a <core-header-panel>, and a <core-toolbar>.
      Use attributes on the scaffold's children to indicate where they should be placed.
      Elements with no scaffold attributes are "distributed" into the main content area (not in the scaffold's Shadow DOM).

      Scaffold Attributes
      responsiveWidth: The width at which the scaffold will automatically collapse the drawer panel (default: 600px)
      mode: Sets the mode of the main area's <core-header-panel> (default: "seamed")

      Scaffold Child Attributes
      navigation: the element (0-1) marked with this attribute goes into the <core-drawer-panel>
      tool: an element (0...) marked with this attribute is included in the main area's <core-toolbar>
    -->

    <core-scaffold responsiveWidth="800px" >
      <core-header-panel mode="waterfall" navigation flex>
        <core-toolbar id="drawer-header">
          <span class="menu-header-text">Menu</span>
        </core-toolbar>

        <core-menu valueattr="label"> <!--  -->
          <core-item icon="drawer" label="Noun Declensions"><a on-click="{{changeView}}" data-view="NOUN_VIEW"></a></core-item>
          <core-item icon="drawer" label="Verb Conjugations"><a on-click="{{changeView}}" data-view="VERB_VIEW"></a></core-item>
          <core-item icon="drawer" label="Vocabulary"><a on-click="{{changeView}}" data-view="VOCAB_VIEW"></a></core-item>
          <core-item icon="drawer" label="Dictionary"><a on-click="{{changeView}}" data-view="DIC_VIEW"></a></core-item>
        </core-menu>
      </core-header-panel>

      <div tool>Russian Study-buddy</div>

      <div class="content" id="cont">
        <!-- p -->
          <template if="{{currentView == 'INTRO_VIEW'}}">
            <div id="intro_view" class="intro-box"> 
              {{introBind}}
            </div>
          </template>
        
          <template if="{{currentView == 'NOUN_VIEW'}}">
              <paper-tabs selected="{{tabSelected}}" class="transparent-teal"> <!--  id="tabs"  -->
                <paper-tab>Declensions</paper-tab>
                <paper-tab>Examples</paper-tab>
              </paper-tabs>
      
            <core-pages selected="{{tabSelected}}">
            <!-- Declension Endings -->
              <div>
                <table>
                  <caption><br><paper-button primary raisedButton >Masculine</paper-button></caption>
                  <tr> 
                    <th>Nominative</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>Accusative</th>
                    <td>Animate: Genetive</td>
                  </tr>
                  <tr>
                    <th>Accusative</th>
                    <td>Inanimate: nominative</td>
                  </tr>   
                  <tr>                  
                    <th>Genetive</th>
                    <td>-А</td>
                  </tr>
                  <tr>
                    <th>Dative</th>
                    <td>-У</td>
                  </tr>
                  <tr>
                    <th>Instrumental</th>
                    <td>-ОМ</td>
                  </tr>
                  <tr>
                    <th>Prepositional</th>
                    <td>-Е</td>
                  </tr>
                  </table>
                <br>
                  <table>
                  <caption><br><paper-button secondary raisedButton >Feminine</paper-button></caption>
                  <tr> 
                    <th>Nominative</th>
                    <td>-А</td>
                  </tr>
                  <tr>
                    <th>Accusative</th>
                    <td>-У</td>
                  </tr>   
                  <tr>                  
                    <th>Genetive</th>
                    <td>-И</td>
                  </tr>
                  <tr>
                    <th>Dative</th>
                    <td>-Е</td>
                  </tr>
                  <tr>
                    <th>Instrumental</th>
                    <td>-ОЙ</td>
                  </tr>
                  <tr>
                    <th>Prepositional</th>
                    <td>-Е</td>
                  </tr>
                </table>
                <br>
                <table>
                  <caption><br><paper-button default raisedButton >Neuter </paper-button></caption>
                  <tr> 
                    <th>Nominative</th>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>Accusative</th>
                    <td>Nominative</td>
                  </tr>   
                  <tr>                  
                    <th>Genetive</th>
                    <td>-А</td>
                  </tr>
                  <tr>
                    <th>Dative</th>
                    <td>-У</td>
                  </tr>
                  <tr>
                    <th>Instrumental</th>
                    <td>-ОМ</td>
                  </tr>
                  <tr>
                    <th>Prepositional</th>
                    <td>-Е</td>
                  </tr>
                </table>
              </div>
              <!-- Declension Examples -->
              <div>
                <table>
                  <caption><br><paper-button primary raisedButton >Masculine</paper-button></caption>
                  <tr> 
                    <th>Nominative</th>
                    <td>СТОЛ</td>
                  </tr>
                  <tr>
                    <th>Accusative</th>
                    <td>СТОЛ</td>
                  </tr>   
                  <tr>                  
                    <th>Genetive</th>
                    <td>СТОЛА</td>
                  </tr>
                  <tr>
                    <th>Dative</th>
                    <td>СТОЛУ</td>
                  </tr>
                  <tr>
                    <th>Instrumental</th>
                    <td>СТОЛОМ</td>
                  </tr>
                  <tr>
                    <th>Prepositional</th>
                    <td>СТОЛЕ</td>
                  </tr>
                  </table>
                <br>
                  <table>
                  <caption><br><paper-button secondary raisedButton >Feminine</paper-button></caption>
                  <tr> 
                    <th>Nominative</th>
                    <td>КНИГА</td>
                  </tr>
                  <tr>
                    <th>Accusative</th>
                    <td>КНИГУ</td>
                  </tr>   
                  <tr>                  
                    <th>Genetive</th>
                    <td>КНИГИ</td>
                  </tr>
                  <tr>
                    <th>Dative</th>
                    <td>КНИГЕ</td>
                  </tr>
                  <tr>
                    <th>Instrumental</th>
                    <td>КНИГОЙ</td>
                  </tr>
                  <tr>
                    <th>Prepositional</th>
                    <td>КНИГЕ</td>
                  </tr>
                </table>
                <br>
                <table>
                  <caption><br><paper-button default raisedButton >Neuter </paper-button></caption>
                  <tr> 
                    <th>Nominative</th>
                    <td>ПИСЬМО</td>
                  </tr>
                  <tr>
                    <th>Accusative</th>
                    <td>ПИСЬМО</td>
                  </tr>   
                  <tr>                  
                    <th>Genetive</th>
                    <td>ПИСЬМА</td>
                  </tr>
                  <tr>
                    <th>Dative</th>
                    <td>ПИСЬМУ</td>
                  </tr>
                  <tr>
                    <th>Instrumental</th>
                    <td>ПИСЬМОМ</td>
                  </tr>
                  <tr>
                    <th>Prepositional</th>
                    <td>ПИСЬМЕ</td>
                  </tr>
                </table>
              </div>
            </core-pages>
  
          </template>

          <template if="{{currentView == 'VERB_VIEW'}}">
            <div id="verb_view" class="verb-box">
              <paper-tabs selected="{{tabSelected}}" class="transparent-teal"> <!--  id="tabs"  -->
                <paper-tab>-АтЬ Verb</paper-tab>
                <paper-tab>-Ить Verb</paper-tab>
                <paper-tab>- Verb</paper-tab>
                <paper-tab>- Verb</paper-tab>
              </paper-tabs>
      
            <core-pages  center-justified layout selected="{{tabSelected}}">
            <!-- Declension Endings -->
              <div>
                <table>
                  <caption><br><paper-button primary raisedButton >-АТЬ</paper-button></caption>
                  <tr> 
                    <th>Я</th>
                    <td>Читаю</td>
                  </tr>
                  <tr>
                    <th>Ты</th>
                    <td>Читаешь</td>
                  </tr>
                  <tr>
                    <th>Он\Она\Оно</th>
                    <td>Читает</td>
                  </tr>   
                  <tr>                  
                    <th>Мы</th>
                    <td>Читаем</td>
                  </tr>
                  <tr>
                    <th>Вы</th>
                    <td>Читаете</td>
                  </tr>
                  <tr>
                    <th>Они</th>
                    <td>Читают</td>
                  </tr>
                  </table>
                <br>
                  <table>
                  <caption><br><paper-button secondary raisedButton >-Ить</paper-button></caption>
                  <tr> 
                    <th>Я</th>
                    <td>Говорю</td>
                  </tr>
                  <tr>
                    <th>Ты</th>
                    <td>Говоришь</td>
                  </tr>
                  <tr>
                    <th>Он\Она\Оно</th>
                    <td>Говорит</td>
                  </tr>   
                  <tr>                  
                    <th>Мы</th>
                    <td>Говорим</td>
                  </tr>
                  <tr>
                    <th>Вы</th>
                    <td>Говорите</td>
                  </tr>
                  <tr>
                    <th>Они</th>
                    <td>Говорят</td>
                  </tr>
                </table>
                <br>
                <table>
                  <caption><br><paper-button default raisedButton ></paper-button></caption>
                  <tr> 
                    <th>Nominative</th>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>Accusative</th>
                    <td>Nominative</td>
                  </tr>   
                  <tr>                  
                    <th>Genetive</th>
                    <td>-А</td>
                  </tr>
                  <tr>
                    <th>Dative</th>
                    <td>-У</td>
                  </tr>
                  <tr>
                    <th>Instrumental</th>
                    <td>-ОМ</td>
                  </tr>
                  <tr>
                    <th>Prepositional</th>
                    <td>-Е</td>
                  </tr>
                </table>
              </div>
              <!-- Declension Examples -->
              <div>
                <table>
                  <caption><br><paper-button primary raisedButton >Masculine</paper-button></caption>
                  <tr> 
                    <th>Nominative</th>
                    <td>СТОЛ</td>
                  </tr>
                  <tr>
                    <th>Accusative</th>
                    <td>СТОЛ</td>
                  </tr>   
                  <tr>                  
                    <th>Genetive</th>
                    <td>СТОЛА</td>
                  </tr>
                  <tr>
                    <th>Dative</th>
                    <td>СТОЛУ</td>
                  </tr>
                  <tr>
                    <th>Instrumental</th>
                    <td>СТОЛОМ</td>
                  </tr>
                  <tr>
                    <th>Prepositional</th>
                    <td>СТОЛЕ</td>
                  </tr>
                  </table>
                <br>
                  <table>
                  <caption><br><paper-button secondary raisedButton >Feminine</paper-button></caption>
                  <tr> 
                    <th>Nominative</th>
                    <td>КНИГА</td>
                  </tr>
                  <tr>
                    <th>Accusative</th>
                    <td>КНИГУ</td>
                  </tr>   
                  <tr>                  
                    <th>Genetive</th>
                    <td>КНИГИ</td>
                  </tr>
                  <tr>
                    <th>Dative</th>
                    <td>КНИГЕ</td>
                  </tr>
                  <tr>
                    <th>Instrumental</th>
                    <td>КНИГОЙ</td>
                  </tr>
                  <tr>
                    <th>Prepositional</th>
                    <td>КНИГЕ</td>
                  </tr>
                </table>
                <br>
                <table>
                  <caption><br><paper-button default raisedButton >Neuter </paper-button></caption>
                  <tr> 
                    <th>Nominative</th>
                    <td>ПИСЬМО</td>
                  </tr>
                  <tr>
                    <th>Accusative</th>
                    <td>ПИСЬМО</td>
                  </tr>   
                  <tr>                  
                    <th>Genetive</th>
                    <td>ПИСЬМА</td>
                  </tr>
                  <tr>
                    <th>Dative</th>
                    <td>ПИСЬМУ</td>
                  </tr>
                  <tr>
                    <th>Instrumental</th>
                    <td>ПИСЬМОМ</td>
                  </tr>
                  <tr>
                    <th>Prepositional</th>
                    <td>ПИСЬМЕ</td>
                  </tr>
                </table>
              </div>
            </core-pages>
            </div>
          </template>
          
          <template if="{{currentView == 'VOCAB_VIEW'}}">
            <div id="vocab_view" class="vocab-box">
              {{vocabBind}}
            </div>
          </template>
          <!-- /p -->
          <template if="{{currentView == 'DIC_VIEW'}}"> <!-- Dictionary. Ha HA! -->
            <div id="dic_view" class="dic-box"> 
              {{dicBind}}
            </div>
           </template>
      </div>

        <!-- there was a div here... -->
    </core-scaffold>
  </template>

  <script type="application/dart" src="app_view.dart"></script>
</polymer-element>