<!-- Polymer Element HTML import links go here (above <polymer-element> tag) -->
<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="packages/core_elements/core_scaffold.html">
<link rel="import" href="packages/core_elements/core_header_panel.html">
<link rel="import" href="packages/core_elements/core_drawer_panel.html">
<link rel="import" href="packages/core_elements/core_toolbar.html">
<link rel="import" href="packages/core_elements/core_menu.html">
<link rel="import" href="packages/core_elements/core_item.html">
<link rel="import" href="packages/core_elements/core_pages.html">
<link rel="import" href="packages/core_elements/core_selector.html">
<link rel="import" href="packages/paper_elements/paper_tabs.html">
<link rel="import" href="packages/paper_elements/paper_tab.html">
<link rel="import" href="packages/paper_elements/paper_item.html">
<link rel="import" href="packages/paper_elements/paper_button.html">
<link rel="import" href="packages/paper_elements/paper_input.html">

<polymer-element name="app-view">
  <template>
    <!--link rel="stylesheet" href="../../../resources/css/app.css"-->

    <style>
      #cont {
        padding: 10px;
        background-color: black;
        color: black;
      }
      
      .mDeclensions {
        background-color: 3b8183; 
      }
      
      

      .box-container {
        width: 475px;
        border: 1px solid #ccc;
        padding: 10px;
        background-color: white;
      }
      
      #main-container {
        background: #2a56c6;
        background-color: black;
        color: black;;
      }
      
      #my-button {
        background: #00bcd4;
        color: #fff;
      }
      
      #my-button:hover {
        background: #2a56c6;
      }
      
      #my-button::shadow #ripple {
        color: #2a56c6;
      }
      
      table, th, td {
        border: 1px solid black;
        padding: 2px;
      }
      
      paper-input::shadow #ink, paper-input::shadow #inkp[checked], paper-ripple {
        color: #4285f4;
      }
      html /deep/ paper-input::shadow input {
  color: #fff;
}
html /deep/ paper-input {
  color: #fff;
}
      
      
    </style>
    
    <!--
      Scaffold
      The scaffold contains a <core-drawer-panel>, a <core-header-panel>, and a <core-toolbar>.
      Use attributes on the scaffold's children to indicate where they should be placed.
      Elements with no scaffold attributes are "distributed" into the main content area (not in the scaffold's Shadow DOM).

      Scaffold Attributes
      responsiveWidth: The width at which the scaffold will automatically collapse the drawer panel (default: 600px)
      mode: Sets the mode of the main area's <core-header-panel> (default: "seamed")

      Scaffold Child Attributes
      navigation: the element (0-1) marked with this attribute goes into the <core-drawer-panel>
      tool: an element (0...) marked with this attribute is included in the main area's <core-toolbar>
    -->

    <core-scaffold responsiveWidth="800px" >
      <core-header-panel mode="waterfall" navigation flex>
        <core-toolbar id="drawer-header">
          <span class="menu-header-text">Menu</span>
        </core-toolbar>

        <core-menu valueattr="label"> <!--  -->
          <core-item icon="drawer" label="Noun Declensions"><a on-tap="{{changeView}}" data-view="NOUN_VIEW"></a></core-item>
          <core-item icon="drawer" label="Verb Conjugations"><a on-tap="{{changeView}}" data-view="VERB_VIEW"></a></core-item>
          <core-item icon="drawer" label="Vocabulary"><a on-tap="{{changeView}}" data-view="VOCAB_VIEW"></a></core-item>
          <core-item icon="drawer" label="Dictionary"><a on-tap="{{changeView}}" data-view="DIC_VIEW"></a></core-item>
        </core-menu>
      </core-header-panel>

      <div tool>Russian Study-buddy</div>

      <!-- Throw in some core-collapse stuff! -->

      <div class="content">
        <!-- p -->
          <template if="{{currentView == 'INTRO_VIEW'}}">
            <paper-tabs class="transparent-teal">
              <paper-tab> 
                {{introBind}}
              </paper-tab>
            </paper-tabs>
          </template>
        
<!--NOUN VIEW-->
          <template if="{{currentView == 'NOUN_VIEW'}}">
              <paper-tabs selected="{{tabSelected}}" class="transparent-teal">
                <paper-tab>Declensions</paper-tab>
                <paper-tab>Examples</paper-tab>
              </paper-tabs>
      
            <core-pages selected="{{tabSelected}}">
              <!-- Declension Endings Singular -->
              <div horizontal layout>
                <div>
                  <!-- Masc Sing -->
                  <table>
                    <caption><br>Masculine Singular</caption>
                    <tr layout template repeat="{{item in d.mdts.keys}}">
                      <th>{{item}}</th>
                      <td>{{d.mdts[item]}}</td>
                    </tr>                                
                  </table>
                  <div><strong>*If animate: genetive.</strong></div>
                  <div><strong> If inanimate: nominative.</strong></div>
                  
                    <!--br--> 
                  <!-- Fem Sing  -->
                  <table>
                    <caption><br>Feminine Singular</caption>
                    <tr layout template repeat="{{item in d.fdts.keys}}">
                      <th>{{item}}</th>
                      <td>{{d.fdts[item]}}</td>
                    </tr>   
                  </table> 
                  
                  <!--br--> 
                  <!-- Neut Sing  -->
                  <table>
                    <caption><br>Neuter Singular</caption>
                    <tr layout template repeat="{{item in d.ndts.keys}}">
                      <th>{{item}}</th>
                      <td>{{d.ndts[item]}}</td>
                    </tr>   
                  </table>                
                </div>
                
                <!-- Declension Endings Plural -->
                <div>
                  <!-- Masc Plural  -->
                  <table>
                    <caption><br>Masculine Plural</caption>
                    <tr layout template repeat="{{item in d.mdtp.keys}}">
                      <th>{{item}}</th>
                      <td>{{d.mdtp[item]}}</td>
                    </tr>                                
                  </table>
                  <div><strong>*If animate: genetive.</strong></div>
                  <div><strong> If inanimate: nominative.</strong></div>
                  
                  <!-- Fem Plural  -->
                  <table>
                    <caption><br>Feminine Plural</caption>
                    <tr layout template repeat="{{item in d.fdtp.keys}}">
                      <th>{{item}}</th>
                      <td>{{d.fdtp[item]}}</td>
                    </tr>   
                  </table> 
                  
                  <!-- Neut Plural  -->
                  <table>
                    <caption><br>Neuter Plural</caption>
                    <tr layout template repeat="{{item in d.ndtp.keys}}">
                      <th>{{item}}</th>
                      <td>{{d.ndtp[item]}}</td>
                    </tr>   
                  </table>
                </div>
              </div>
              
              <!-- Declension Examples -->
              <div horizontal layout>
                <div>
                  <table>
                    <caption><br>Masculine Singular</caption>
                    <tr layout template repeat="{{item in d.mdes.keys}}">
                      <th>{{item}}</th>
                      <td>{{d.mdes[item]}}</td>
                    </tr>                                
                  </table>
                  
                  <table>
                    <caption><br>Feminine Singular</caption>
                    <tr layout template repeat="{{item in d.fdes.keys}}">
                      <th>{{item}}</th>
                      <td>{{d.fdes[item]}}</td>
                    </tr>   
                  </table> 
                  
                  <table>
                    <caption><br>Neuter Singular</caption>
                    <tr layout template repeat="{{item in d.ndes.keys}}">
                      <th>{{item}}</th>
                      <td>{{d.ndes[item]}}</td>
                    </tr>                                
                  </table>
                </div>
                
                 <div>
                  <!-- Masc Plural  -->
                  <table>
                    <caption><br>Masculine Plural</caption>
                    <tr layout template repeat="{{item in d.mdep.keys}}">
                      <th>{{item}}</th>
                      <td>{{d.mdep[item]}}</td>
                    </tr>                                
                  </table>
                  
                  <!-- Fem Plural  -->
                  <table>
                    <caption><br>Feminine Plural</caption>
                    <tr layout template repeat="{{item in d.fdep.keys}}">
                      <th>{{item}}</th>
                      <td>{{d.fdep[item]}}</td>
                    </tr>   
                  </table> 
                  
                  <!-- Neut Plural  -->
                  <table>
                    <caption><br>Neuter Plural</caption>
                    <tr layout template repeat="{{item in d.ndep.keys}}">
                      <th>{{item}}</th>
                      <td>{{d.ndep[item]}}</td>
                    </tr>   
                  </table>
                </div>                
              </div>
            </core-pages> <!-- Noun Core Pages, End. -->  
          </template>

<!-- VERB VIEW -->
          <template if="{{currentView == 'VERB_VIEW'}}">
            <div id="verb_view" class="verb-box">
              <paper-tabs selected="{{tabSelected}}" class="transparent-teal"> <!--  id="tabs"  -->
                <paper-tab>-АтЬ Verb</paper-tab>
                <paper-tab>-Ить Verb</paper-tab>
                <paper-tab>- Verb</paper-tab>
                <paper-tab>- Verb</paper-tab>
              </paper-tabs>
      
              <core-pages  horizontal layout selected="{{tabSelected}}">
              <!-- atb Verbs -->
                <div>
                  <table>
                    <caption><br></caption>
                    <tr layout template repeat="{{item in d.ndep.keys}}">
                      <th>{{item}}</th>
                      <td>{{d.ndep[item]}}</td>
                    </tr>   
                  </table>
                </div>
                    
                <div>
                  <table>
                    <caption><br></caption>
                    <tr layout template repeat="{{item in d.ndep.keys}}">
                      <th>{{item}}</th>
                      <td>{{d.ndep[item]}}</td>
                    </tr>   
                  </table>
                </div>
                
                <div>
                  <table>
                    <caption><br></caption>
                    <tr layout template repeat="{{item in d.ndep.keys}}">
                      <th>{{item}}</th>
                      <td>{{d.ndep[item]}}</td>
                    </tr>   
                  </table>
                </div>
                    
                <div>
                  <table>
                    <caption><br></caption>
                    <tr layout template repeat="{{item in d.ndep.keys}}">
                      <th>{{item}}</th>
                      <td>{{d.ndep[item]}}</td>
                    </tr>   
                  </table>
                </div>             
              </core-pages>
            </div>
          </template>
          
<!-- VOCAB VIEW -->     
          <template if="{{currentView == 'VOCAB_VIEW'}}">
              <paper-tabs selected="{{tabSelected}}" class="transparent-teal">
                <paper-tab>Add a new Word</paper-tab>
                <paper-tab>Full vocab list</paper-tab>
                <paper-tab>Flash Cards</paper-tab>
              </paper-tabs>
      
            <core-pages selected="{{tabSelected}}">
              <!-- Add vocab word -->
              <div vertical layout>
                <form> <!-- action="" -->
                  <paper-input type="text" id="voc-input" on-enter={{addWord}} label="Input new vocab word here."></paper-input><br>
                  <input type="submit" value="Add word to list!" on-enter={{addWord}}>
                </form>
              </div>

              <!-- Full Vocab List -->
              <div horizontal layout>
                <table>
                    <caption><br><strong>Vocabulary Word List</strong></caption>
                    <tr layout template repeat="{{item in v.vocabularyList}}">
                      <th>{{item}}</th>
                    </tr>   
                  </table>      
              </div>
              
              <!-- Flash cards  -->
              <div>
              
              </div>                    
                    
            </core-pages> <!-- Vocab Core Pages, End. -->  
          </template>
          
      <!--   -->            

<!-- Dictionary View -->
          <template if="{{currentView == 'DIC_VIEW'}}"> <!-- Dictionary. Ha HA! -->
            <div id="dic_view" class="dic-box"> 
              {{dicBind}}
            </div>
           </template>
      </div>

        <!-- there was a div here... -->
    </core-scaffold>
  </template>

  <script type="application/dart" src="app_view.dart"></script>
</polymer-element>